.git
__pycache__
**/__pycache__
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg-info
*.pytest_cache
.venv
venv
env
.env
node_modules
dist
build
coverage
*.log
db.sqlite3
**/db.sqlite3
media
.DS_Store
Thumbs.db
*.sqlite3
